@page
@model RazorPages.Pages.IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<link rel="stylesheet" href="~/wwwroot/estilos.css" />

<div class="text-center">
    <h1 class="display-4">LibroTeca</h1>
</div>

<div class="container">
    <img class="img" src="~/img/1211.jpg" alt="Mi Imagen 1" />
    <img class="img" src="~/img/1718532259685.jpg" alt="Mi Imagen 2" />
</div>
