@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/estilos.css" />
<div class="text-center">
    <h1 class="display-4">LibroTeca</h1>
  
</div>
<img src="~/img/1211.jpg" alt="Mi Imagen" />
<img src="~/img/1718532259685.jpg" alt="Mi Imagen" />