@page
@model RazorPages.Pages.registroModel
@{
    ViewData["Title"] = "Registro";
}

<h2>Crear una cuenta</h2>

<form method="post">
    <div>
        <label>Nombre:</label>
        <input asp-for="NuevoRegistro.Nombre" required />
    </div>
    <div>
        <label>Apellido:</label>
        <input asp-for="NuevoRegistro.Apellido" required />
    </div>
    <div>
        <label>Correo:</label>
        <input asp-for="NuevoRegistro.Correo" type="correo" required />
    </div>
    <div>
        <label>Contraseña:</label>
        <input asp-for="NuevoRegistro.Contrasena" type="password" required />
    </div>
    <button type="submit">Registrarse</button>

    <p style="color:red;">@Model.MensajeError</p>
    <p style="color:green;">@Model.MensajeExito</p>
</form>
